<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>GC Computer Science</h1>
                    <h3>Program your Programming.</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>


<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer"/>
                <h1 class="section-heading"><br>Create your own schedule!</h1>
                <p class="lead"> 
                  <a target="_blank" href="https://www.grinnell.edu/academics/areas/computer-science">GC Computer Science Students</a> 
                  Please sign up and create an account using your Grinnell College log-in information. 
                  You will then be prompted to add classes to a schedule that you can create and share 
                  with your advisor
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag("intro-2.jpg", class: "img-responsive") %>
            </div>
        </div>
    </div>
</div>