<footer class="footer">
  <small>
    Made with 
    <i class="material-icons">favorite</i>
    by CSC-322, Spring 2017.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Github",   'https://github.com/CSC322-Grinnell/curricular-planning' %></li>
    </ul>
  </nav>
</footer>