	<header class="cd-header">
		<div id="cd-logo"><a href="/dashboard">Grinnell College Curriculum Planner</a></div>

		<nav class="cd-main-nav">
			<ul>
				<!-- insert more links here -->
				<li><a href='/dashboard'>Dashboard</a></li>
				<li><a href='/'>About</a></li>
			</ul>
		</nav> <!-- cd-main-nav -->
	</header>
