	<header class="cd-header">
		<div id="cd-logo"><a href="#0">Sam Rebelsky's Curriculum Planner</a></div>

		<nav class="cd-main-nav">
			<ul>
				<!-- inser more links here -->
				<li><a href='/users/sign_in'>Students</a></li>
				<li><a href="#0">Sam</a></li>
				<li><a href="#0">About</a></li>
				<li><a href="#0">Contact</a></li>
			</ul>
		</nav> <!-- cd-main-nav -->
	</header>